.header {
  height: rem(72px);
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.inner {
  height: rem(72px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-2));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @mixin hover {
    color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-dark-0));
  }
}